/*
Style sheet for Waybar using Catppuccin Mocha theme
*/

@import "/nix/store/0kccl3j0hcx903y2qfz4br74xk943b2y-catppuccin-waybar-0-unstable-2024-07-13/mocha.css";
/* code /nix/store/0kccl3j0hcx903y2qfz4br74xk943b2y-catppuccin-waybar-0-unstable-2024-07-13/mocha.css */


/* === General Styling  === */

* {
    font-family: "Fira Code Nerd Font";
    font-size: 14px;
    min-height: 0;
    background: transparent;

    /* Remove default hover effects [ Mine are better :) ] */
    text-shadow: none;
    outline: none;
    border: none;
    box-shadow: none;
}


/* === General Module Styling  === */

#cpu,
#memory,
#disk,
#wireplumber,
#battery,
#clock,
#privacy,
#custom-lock,
#window,
#custom-warp,
#custom-brightness,
#custom-nosleep,
#mpris,
#workspaces button,
#taskbar button {
    background: @surface0;
    border-radius: 8px;
    color: @text;
    margin: 4px;
    padding: 0 12px;
    transition: all 0.5s ease-in-out;
}


/* === Padding for 1 char icon === */

#custom-nosleep {
    padding-right: 16px;
}


/* === Battery Styling === */

#battery {
    color: @base;
}

#battery.charging,
#battery.plugged,
#battery.full {
    background: @green;
}

#battery.warning:not(.charging) {
    background: @yellow;
}

#battery.critical:not(.charging) {
    background: @red;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% { opacity: 0.5; }
}

/* === Button Styling  === */

#workspaces button,
#taskbar button {
    padding: 0 8px;
}

/* === On/Off Styling === */

#custom-warp.on,
#custom-nosleep.on,
#workspaces button.active,
#taskbar button.active {
    background: @mauve;
    color: @base;
}

/* === Hover Effects === */

#workspaces button:hover,
#taskbar button:hover,
#custom-nosleep:hover,
#custom-warp:hover {
    box-shadow: inset 0 -4px @mauve;
}


#workspaces button.active:hover,
#taskbar button.active:hover,
#custom-nosleep.on:hover,
#custom-warp.on:hover {
    box-shadow: inset 0 -4px @surface0;
}
