/*
Style sheet for Waybar using Catppuccin Mocha theme
*/

@import "/nix/store/0kccl3j0hcx903y2qfz4br74xk943b2y-catppuccin-waybar-0-unstable-2024-07-13/mocha.css";
/* code /nix/store/0kccl3j0hcx903y2qfz4br74xk943b2y-catppuccin-waybar-0-unstable-2024-07-13/mocha.css */


/* === General Styling  === */

* {
    font-family: "Fira Code Nerd Font";
    font-size: 14px;
    min-height: 0;

    /* Remove default hover effects [ Mine are better :) ] */
    text-shadow: none;
    outline: none;
    border: none;
    box-shadow: none;
}

window#waybar {
    background: transparent;
    color: @text;
}


/* === General Module Styling  === */

#cpu,
#memory,
#disk,
#wireplumber,
#battery,
#clock,
#privacy,
#custom-lock,
#window,
#custom-warp,
#custom-brightness,
#mpris {
    background: @surface0;
    color: @text;
    border-radius: 8px;
    margin: 4px;
    padding: 0 12px;
}


/* === Battery Styling === */

#battery.charging,
#battery.plugged,
#battery.full {
    background: @green;
    color: @base;
}

#battery.warning:not(.charging) {
    background: @yellow;
    color: @base;
}

#battery.critical:not(.charging) {
    background: @red;
    color: @base;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% { opacity: 0.5; }
}

/* === Warp Styling === */

#custom-warp.on {
    background: @mauve;
    color: @base;
}
#custom-warp.off {
    background: @surface0;
    color: @text;
}


/* === Button Styling  === */

#workspaces button,
#taskbar button {
    background: @surface0;
    color: @text;
    border-radius: 8px;
    margin: 4px;
    padding: 0 8px;
    transition: all 0.5s ease-in-out;
}

#workspaces button:hover,
#taskbar button:hover {
    box-shadow: -1.5px -1.5px 0 @mauve, 1.5px -1.5px 0 @mauve, -1.5px 1.5px 0 @mauve, 1.5px 1.5px 0 @mauve, 0 -4px 0 @mauve;
}

#workspaces button.active,
#taskbar button.active {
    background: @mauve;
    color: @base;
}

#workspaces button.active:hover,
#taskbar button.active:hover {
    box-shadow: inset 0 -4px @surface0;
}
